<section class="QueryImage mainblock">
    <div>
        <% if(locals.qrCode) {%>
            <!-- Note will need to change this to qrCode png image -->
            <div id="qrValue"><%= qrCode %></div>
        <%} else {%>
            <img src="pictures/doggo.jpg" alt="doggo">
        <% } %>
    </div>
</section>