<section class="QueryTextBar mainblock">
    <div>
        <div class="urlTitleContainer">
            <h1 id="Title">QR-Code Generator</h1>
            <h2>Try below!</h2>
        </div>

        <div class="UserURLContainer">
            <form method="post">
                <input type="text" id="UserInput" name="UserInput" placeholder="Generate...">
                <input type="submit" id="userInputButton" value="Go!" formaction="/generate">
            </form>
        </div>
    </div>
</section>