<section class="QueryTextBar mainblock">
    <div>
        <form id="UserURL" method="post">
            <label for="UserInput">Url: </label>
            <br>
            <input type="text" id="UserInput" name="UserInput">
            <input type="submit" value="Generate" formaction="/generate">
        </form>
    </div>
</section>