body{
    background: linear-gradient(90deg, #F8EDE3, #BDD2B6);
    font-family: 'Poppins';
}

.QueryContainer{
    display: grid;
    grid-template-rows:  1fr 1fr 1fr;
    grid-template-columns: auto 1fr auto;
}
.QueryTextBar{
    grid-row: 1/1;
    grid-column: 2/2;
    min-height: 100%;
    max-height: 100%;
}

.QueryImage{
    grid-row: 2/2;
    grid-column: 2/2;
    min-height: 100%;
    max-height: 100%;
}

.mainblock, #copyrightLogo{
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items:center;
}

#qrValue{
    width: 255px;
    height: 255px;
}

.urlTitleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#Title{
    font-size: 30px;
    font-weight: bold;
    color: #798777;
}

#UserInput, #userInputButton{
    padding: 10px;
    border: none;
    margin: 10px, 0px;
    font-size: 16px;

}

.UserURLContainer{
    background-color: #BDD2B6;
    display: inline-block;
}

#userInputButton{
    margin-left: -4px;
}

#copyrightLogo{
    grid-row: 3/3;
    grid-column: 2/2;
}